html, body{
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(216, 0, 0);
    background-attachment: fixed;
    background-size: cover;
    /*background-image: url('../img/background-neutra.jpg');*/ 
    overflow:hidden;   
}

.img-background{
    width: 100vw;
    max-height: 100vh;
   
}